

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    
}
img {max-width:100%;} 

ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }




header {
    display: flex;
    justify-content: space-evenly;
    background-color: #379683;
}


.nav-list   {
    display: flex;
    gap: 10px;
}





.herb-row {
width: auto;
height: auto;
max-width: 580px;
max-height: 370px;
align-self: center;
}


.column-1 {
    background-color:#379683;;
    align-items: center;
    justify-content: center;
    display: flex ;
    gap: 100px;
    flex: 1 1 100%;
   
}


.column-1 .left {
    display: flex ;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 400px;
}





.column-2 {
    background-color:#edf5e1;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

/* this controls all the herb icons grouped together */
.all-icons {
    display: flex;
    gap: 40px;
}

/* this is for the size of the individual icons */
.icons {
    max-width: 100px;
    max-height: 100px;
    border-radius: 10px;
    border: #379683 solid;
}

/* groups together the text with the icon */

.herb-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}





.column-3 {
    background-color:#8ee4af;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.column-3-top {
font-size: 24px;
max-width: 1000px;
min-width: auto;
}

.column-3-bottom {
    margin-left: 800px;
}




.column-4 {
    background-color: #edf5e1;
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px
}

.button-1 {
    background-color: #05386b;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    color: #edf5e1;
    border-color: #379683;
    border-radius: 10px;
}

.button-2 {
    background-color: #05386b;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px;
    color: #edf5e1
}



.footer {

    background-color: #379683;;
}
